:root {
    --project-section-border: 30px;
}

.ProjectSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    background-color: var(--secondary-light);
    border-color: var(--primary);
    border-radius: var(--project-section-border);
    position: relative;
    margin: 25px;
    transition: all 0.25s ease-in-out;
}

.ProjectSectionSelected {
    border-color: var(--hover);
    transform:translate(0px, -5px)
}

.ProjectSection>p {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.ProjectImage {
    border-top-left-radius: calc(var(--project-section-border) - 4px);
    border-top-right-radius: calc(var(--project-section-border) - 4px);
    height: 200px;
    object-fit: cover;
}

.ProjectSectionButton {
    background-color: var(--primary);
    color: var(--text-color);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    align-self: center;
    text-decoration: none;
}

.ProjectSectionButton:hover {
    background-color: var(--hover);
}