/* Mobile*/
@media only screen and (max-width: 768px)
{
    .ProjectItemsContainer 
    {
        grid-template-columns: repeat(1, 100% [col-start]);
    }

    .AboutMeBlock {
        flex-direction: column;
    }
}

/*Tablet*/
@media (min-width:538px)
{
    .ProjectItemsContainer 
    {
        grid-template-columns: repeat(2, 50% [col-start]);
    }
}

/*Desktop*/
@media (min-width:1160px)
{
    .ProjectItemsContainer 
    {
        grid-template-columns: repeat(3, 25% [col-start]);
        justify-content: center;
    }
}

.ProjectItemsContainer
{
    display: grid;
}

.ProjectGalleryHeader
{
    padding: 35px;
    background-color: var(--primary);
    margin:0;
    margin-bottom: 10px;
}

.ProjectGalleryHeader>h1
{
    text-align: center;
    color : var(--text-color);
}

.ProjectGalleryHeader>h2
{
    text-align: center;
    color : var(--text-color);
}

.AboutMeBlock
{
    display: flex;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}


.AboutMeBlock p
{
    font-size: calc(0.75vw + 1vh);
    padding: 1%;
}

.AboutMeBlock h1
{
    font-size: calc(1vw + 1vh);
    padding: 1%;
}

.AboutMeBlock img
{
    width: 20%;
    margin: 5px;
    border-radius: 300px;
    border-style: solid;
    border-width: 0.5vw;
    border-color: white;
}