.ExperienceBlock
{
    display: flex;
    flex-direction: row;
    border-color: var(--primary);
    border-style: solid;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    background-color: var(--secondary-light);
}

.ExperienceBlock h1
{
    padding: 1%;
}

.ExperienceBlock p
{
    padding: 1%;
}

/* Mobile*/
@media only screen and (max-width: 768px)
{
    .ExperienceBlock p
    {
        font-size: calc(0.25vw + 1vh); 
    }

    .ExperienceBlock h1
    {
        font-size: calc(1vw + 1vh); 
    }
}

/*Desktop*/
@media (min-width:1281px)
{
    .ExperienceBlock
    {
        margin-left: 25%;
        margin-right: 25%;
    }

    .ExperienceBlock p
    {
        font-size: calc(0.75vw + 1vh); 
    }

    .ExperienceBlock h1
    {
        font-size: calc(1vw + 1vh); 
    }
}

.ExperienceBlock img
{
    width: 25%;
    margin: 5px;
    border-radius: 120px;
    border-style: solid;
    border-color: var(--primary);
}