/* Mobile Grid*/
@media only screen and (max-width: 768px)
{
    .AboutMeContainer
    {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*Desktop Grid*/
@media (min-width:1281px)
{
    .AboutMeContainer
    {
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
    }
}

.SkillsContainer
{
    display: flex;
    justify-content: center;
}

.SkillIcon
{
    width: 100px;
    height: 100px;
}