:root {
    --primary: #000000;
    --secondary: #ffffff;
}

html
{
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; 

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;

   background-color: var(--secondary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar
{
    display: none;
}

body
{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

h1
{
    text-decoration: underline;
    text-align: center;
    margin:0;
}

p
{
    margin:0;
    font-size: large;
}

img
{
    
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

/* Nav Style*/
nav
{
    color: var(--secondary);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    z-index: 1;
}

nav a
{
    padding: 0px 5px 0px 5px;
	border-left: 1px solid var(--secondary);
	border-right: 1px solid var(--secondary);
	text-decoration: none;
	text-align: center;
	color: var(--secondary);
	font-size: xx-large;
    align-self: center;
}

nav a:hover
{
    color:gray;
    transition-duration: 500ms;
}
/* End Nav Style*/

/* Footer Style */
footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	background-color: var(--primary);
    z-index: 1;
}

.FooterIcon
{
    vertical-align: middle;
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}
/* End Footer Style */