body
{
    margin: 0;
}

h1
{
    text-decoration: underline;
    text-align: center;
    margin:0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p
{
    margin:0;
    font-size: large;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Nav Style*/
nav
{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

nav a
{
    padding: 0px 5px 0px 5px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: xx-large;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav a:hover
{
    color:gray
    
}
/* End Nav Style*/

/* Footer Style */
footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	background-color: black;
}

.FooterIcon
{
    vertical-align: middle;
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}
/* End Footer Style */