nav
{
    color: var(--secondary);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

nav a
{
    padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	color: var(--text-color);
	font-size: large;
    align-self: center;
    font-weight: bolder;
}

nav a:hover
{
    color:var(--hover);
    transition-duration: 500ms;
}