.ProjectPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
}

/*Desktop*/
@media (min-width:1281px)
{
    .ProjectPage 
    {
        width: 50%;
    }
}

.ProjectPageImage
{
    margin-top: 50px;
    margin-bottom: 1%;
    width: 75%;
    border-style: solid;
    border-color: var(--primary);
}

.ProjectPageParagraph
{
    margin-left: 10%;
    margin-right: 10%;
}

div
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ProjectTrailerContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-bottom: 2%;
}

.IFrameContainer
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.IFrameVideo
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: var(--primary);
}