.ProjectPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectPageImage
{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 75%;
    border-style: solid;
}

.ProjectPageParagraph
{
    margin-left: 10%;
    margin-right: 10%;
}

.ProjectScreenshotGalleryContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
}

.ProjectScreenshotGallery
{
    width: 75%;
    border-style: solid;
}