/* Mobile Grid*/
@media only screen and (max-width: 768px)
{
    .ProjectItemsContainer 
    {
        display: grid;
        grid-template-columns: repeat(1, 100% [col-start]);
    }
}

/*Desktop Grid*/
@media (min-width:1281px)
{
    .ProjectItemsContainer 
    {
        display: grid;
        grid-template-columns: repeat(3, 33.33% [col-start]);
    }
}

.ProjectSection
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    border-color: black;
}

.ProjectSectionSelected
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    border-color: darkgray;
}

.ProjectImage
{
   border-style: solid;
   margin: 5px;
}

.ProjectSectionButton
{
    width: 150px;
	background-color: black;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
    margin: 5px;
    align-self: center;
	text-decoration: none;
}

.ProjectSectionButton:hover
{
	background-color: darkgray;
}