/* Mobile*/
@media only screen and (max-width: 768px)
{
    .ProjectItemsContainer 
    {
        display: grid;
        grid-template-columns: repeat(1, 100% [col-start]);
    }
}

/*Desktop*/
@media (min-width:1281px)
{
    .ProjectItemsContainer 
    {
        display: grid;
        grid-template-columns: repeat(3, 25% [col-start]);
        justify-content: center;
    }

    .ProjectSection
    {
        height: 386px;
    }
}

.ProjectSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    background-color: var(--secondary);
    border-color: var(--primary);
    border-radius: 5px;
    transition-duration: 500ms;

    position: relative;
}

.ProjectSectionSelected
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    background-color: var(--secondary);
    border-color: darkgray;
    border-radius: 5px;
    transition-duration: 500ms;
    position: relative;
}

.ProjectImage
{
   max-width: 100%;
   max-height: 100%;
   border-radius: 10px;
   margin: 10px;
   height: 200px;
}

.ProjectSectionButton
{
    width: 150px;
	background-color: var(--primary);
	color: var(--secondary);
	font-size: 15px;
	border-radius: 5px;
	padding: 10px;
    margin: 5px;
    align-self: center;
	text-decoration: none;
    transition-duration: 500ms;
    position: absolute;
    bottom: 0px;
}

.ProjectSectionButton:hover
{
	background-color: darkgray;
    transition-duration: 500ms;
}